*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.search-bar-container{
  padding-top: 20vh;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}